/Week2/nbproject/private/
/Week2/build/
/Week2/dist/
/Week33/nbproject/private/
/Week33/build/
/Week33/dist/
/Week44/nbproject/private/
/Week4/build/
/Week4/dist/
/Week3/build/
/Week3/dist/
/Week5/nbproject/private/
/Week6/nbproject/private/
/Week6/build/
/Week6/dist/
/Week7/nbproject/private/
/Week7/build/
/Week7/dist/
/Mock_Midterm/nbproject/private/
/Mock_Midterm/build/
/Mock_Midterm/dist/
/Mock_Midterm2/nbproject/private/
/Mock_Midterm2/build/
/Mock_Midterm2/dist/
/Week8/nbproject/private/
/Week8/build/
/Week8/dist/
/Week9/nbproject/private/
/Week10/nbproject/private/
/Week9/build/
/Week9/dist/
/Week10/build/
/Week10/dist/
/Week11/nbproject/private/
/Week11/build/
/Week11/dist/
/Week12/nbproject/private/
/Week12/build/
/Week12/dist/
/Week13/nbproject/private/
/Week13/build/
/Week13/dist/
