/Week2/nbproject/private/
/Week2/build/
/Week2/dist/
/Week33/nbproject/private/
/Week33/build/
/Week33/dist/
/Week44/nbproject/private/
/Week4/build/
/Week4/dist/
/Week3/build/
/Week3/dist/
/Week5/nbproject/private/
/Week6/nbproject/private/
/Week6/build/
/Week6/dist/
/Week7/nbproject/private/
/Week7/build/
/Week7/dist/
/Mock_Midterm/nbproject/private/
/Mock_Midterm/build/
/Mock_Midterm/dist/
/Mock_Midterm2/nbproject/private/
/Mock_Midterm2/build/
/Mock_Midterm2/dist/
